.App {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.navbar {
  background-color: rgb(29, 30, 32); /* Reemplaza "#f00" por el color que desees */
  /* Otros estilos personalizados */
}

.navheader {
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: auto;
}



.navbar li a {
display: inline-block;
padding: 10px;

color: white
;
text-decoration: none;
}

.navbar li a:hover {
border-color: white; /* Agrega un borde blanco cuando el cursor pasa sobre el botón */
}

.navbar-logo {
  height: 2rem;
  margin-right: 1rem;
}

